@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../node_modules/easymde/dist/easymde.min.css);
@import url(../node_modules/highlight.js/styles/stackoverflow-dark.css);

@layer components {
  .editor-bg {
    @apply p-4 bg-focusColor text-textColorPrimary;
  }
}

.CodeMirror-selectedtext {
  @apply bg-zero bg-focusColor !important;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  @apply bg-focusColor !important;
}

.CodeMirror-cursor {
  @apply border-l border-r-0 w-0 border-cursorColor;
}

.prose h1 {
  @apply text-textColorPrimary;
}

.prose strong {
  @apply text-textColorPrimary font-extrabold;
}

.prose table > thead > tr {
  @apply text-textColorPrimary font-extrabold;
}

.prose code {
  @apply text-textColorPrimary font-extrabold;
}

.prose a {
  @apply text-textColorPrimary underline;
}

.CodeMirror {
  @apply text-textColorPrimary border-focusColor bg-bgColor;
}

.cm-s-easymde .codemirror-cursor {
  @apply border-bgColor;
}

.editor-toolbar > * {
  @apply text-textColorPrimary;
}

.EasyMDEContainer .CodeMirror-fullscreen,
.editor-toolbar.fullscreen,
.editor-toolbar > .active,
.editor-toolbar button.active,
.editor-toolbar > button:hover,
.editor-preview pre,
.editor-preview,
.cm-s-easymde .cm-comment {
  @apply bg-bgColor;
}

.editor-toolbar button {
  @apply m-1;
}

:root {
  --primary-color: rgba(109, 40, 217);
  --text-color-primary: #424242;
  --text-color-secondary: #656565;
  --bg-color: #fff;
  --bg-color-el-1: #fff;
  --focus-color: #e5e5e5;
  --placeholder-color: #ccc;
  --cursor-color: #222222;
}

[data-theme="dark"] {
  --primary-color: rgba(109, 40, 217);
  --text-color-primary: #f5f5ff;
  --text-color-secondary: #c1c1c1;
  --bg-color: #222222;
  --bg-color-el-1: #313131fd;
  --focus-color: #494949fd;
  --placeholder-color: #313131fd;
  --cursor-color: #f7f7f7;
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgba(109, 40, 217);
    --text-color-primary: #f5f5ff;
    --text-color-secondary: #c1c1c1;
    --bg-color: #222222;
    --bg-color-el-1: #313131fd;
    --focus-color: #494949fd;
    --placeholder-color: #313131fd;
    background-color: var(--bg-color);
  }

  [data-theme="light"] {
    --primary-color: rgba(109, 40, 217);
    --text-color-primary: #424242;
    --text-color-secondary: #656565;
    --bg-color: #fff;
    --bg-color-el-1: #fff;
    --focus-color: #e5e5e5;
    --placeholder-color: #ccc;
  }
}
